export(extract_river)
export(aggregate_river)
export(paths_river)
export(locate_site)
exportClasses(river)
exportMethods(plot, show, names, "$<-", "$") 
import(spam)
import(raster)
import(sf)
import(terra)
import(elevatr)
import(traudem)
import(withr)
importFrom("grDevices", "hcl.colors")
importFrom("graphics", "title")
importFrom("methods", "new", "slot", "slot<-", "slotNames","show")
