export(extract_river)
export(aggregate_river)
export(paths_river)
export(locate_site)
export(covariate_river)
export(hydro_river)
export(path_velocities_river)
export(river_to_igraph)
export(river_to_SSN)
export(river_to_shapefile)
export(river_to_AEM)
export(points_colorscale)
export(contour_to_shapefile)
exportClasses(river)
exportMethods(plot, show, names, "$<-", "$","[[","[[<-") 
import(spam)
import(raster)
import(sf)
import(terra)
import(elevatr)
import(traudem)
import(OCNet)
importFrom("fields","imagePlot")
importFrom("grDevices", "hcl.colors", "colorRampPalette")
importFrom("graphics", "title", "legend", "par")
importFrom("methods", "new", "slot", "slot<-", "slotNames", "show","is")
importFrom("stats","integrate","lm")
importFrom("parallelly","availableCores")
importFrom(Rcpp, evalCpp)
useDynLib(rivnet, .registration=TRUE)