export(extract_river)
export(aggregate_river)
export(paths_river)
export(locate_site)
export(covariate_river)
export(hydro_river)
export(path_velocities_river)
exportClasses(river)
exportMethods(plot, show, names, "$<-", "$") 
import(spam)
import(raster)
import(sf)
import(terra)
import(elevatr)
import(traudem)
import(withr)
importFrom("grDevices", "hcl.colors", "colorRampPalette")
importFrom("graphics", "title", "legend", "par")
importFrom("methods", "new", "slot", "slot<-", "slotNames","show")
importFrom("stats","integrate","lm")